#home-page {
    background-image: url("img/background.png");
    min-height: 100vh;
}
html, body {
    overflow-x: hidden;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}
@media (max-width: 768px) {
    #home-page {
        height: auto;
        min-height: 100vh;
        overflow-y: auto;
    }
}
@media (max-width: 768px) {
    .page-background {
        background-attachment: scroll;
    }
}
body {
    font-family: 'Crimson Text', serif;
    margin: 0;
}
.page-background {
    background-image: url("img/Sfondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.titolo{
    font-family: 'Cinzel';
    font-weight: bolder;
    font-size: 100px;
    font-variant: small-caps;
    color: #d4bf6c;
}

@media (max-width: 768px) {
    .titolo {
        font-size: 80px;
    }
    .citazione {
        font-size: 25px !important;
    }
    .contenuto {
        font-size: 18px !important;
        width: 85% !important;
        margin: 0 auto;
    }
    .stemma{
        width: 400px !important;
    }
}

.credits{
    width: 50px;
    display: block;
    margin: 0 auto;
}

.titolo_sez{
    font-family: 'Cinzel';
    font-weight: bolder;
    font-size: 70px;
    font-variant: small-caps;
    color: #d4bf6c;
}
.contattaci{
    font-family: 'Cinzel';
    font-weight: bolder;
    font-size: 40px;
    font-variant: small-caps;
    color: #ffffff;
}
.sottotitolo_sez{
    font-family: 'Cinzel';
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
    font-variant: small-caps;
    color: #ffffff;    
}
.citazione{
    font-family: 'Lora';
    font-weight: bold;
    font-size: 35px;
    font-style: italic;
    font-variant: small-caps;
    color: #e5d3b3;
}
.contenuto{
    font-family: 'Lora';
    font-size: 20px;
}
.stemma{
    width: 600px;
    display: block;
    margin: 0 auto;
}
.title-font {
    font-family: 'Cinzel', serif;
    color: #ffffff !important;
}
.thick-bar {
    width: 110px;
    height: 6px;
    background: #d4bf6c;
    margin: 0 auto 20px auto;
}
.thin-bar {
    width: 330px;
    height: 2px;
    background: #FFECB3;
    margin: 0 auto 20px auto;
}
/* ---------------- HOME ---------------- */

.desktop-layout{

    display:grid;

    grid-template-columns:1fr 1.25fr 1fr;

    grid-template-rows:auto auto;

    align-items:center;

    gap:40px;

    max-width:1800px;

    margin:auto;

    padding:30px;
    overflow-x: hidden;
}
.hero{

    grid-column:2;

    grid-row:1 / span 2;

    display:flex;

    justify-content:center;

    align-items:center;
}
.hero-box{

    background:rgba(0,0,0,.72);

    border:2px solid #d4bf6c;

    border-radius:70px;

    padding:50px;

    max-width:850px;

    text-align:center;
}
.hero-title{

    font-family:'Cinzel';

    font-size:70px;

    color:white;

    margin-bottom:15px;
}
.hero-buttons{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

    margin-top:35px;
}
.btn-primary{

    background:#FDE68A;

    color:black;

    padding:18px 38px;

    border-radius:18px;

    font-weight:bold;

    text-decoration:none;

    transition:.3s;
}

.btn-primary:hover{

    background:#d4bf6c;
}
.btn-secondary{

    border:2px solid #FDE68A;

    color:white;

    padding:18px 38px;

    border-radius:18px;

    text-decoration:none;

    transition:.3s;
}

.btn-secondary:hover{

    background:rgba(255,255,255,.1);
}
.sections-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:60px;

    align-items:center;
}
.section-card{

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    text-decoration:none;

    transition:.35s;
}
.section-card img{

    width:100%;

    max-width:520px;

    transition:.35s;

    filter:drop-shadow(0 0 12px #d4bf6c);
}
.section-card:hover img{

    transform:scale(1.05);

    filter:
    drop-shadow(0 0 15px #ffe8a2)
    drop-shadow(0 0 35px #d4bf6c);
}
.section-card span{

    margin-top:15px;

    font-size:2rem;

    color:white;

    font-family:'Cinzel';
}
.section-card h2{

    margin-top:20px;

    color:white;

    font-family:'Cinzel';

    font-size:2rem;
}
@media(max-width:1100px){

    .desktop-layout{
        grid-template-columns:1fr;
        gap:35px;
        padding:20px;
    }

    .hero{
        grid-column:auto;
        grid-row:auto;
        order:1;
    }
    .hero-box {
        padding: 25px 18px;
        border-radius: 30px;
    }

    .hero-title {
        font-size: 38px;
    }

    .section-card{
        order:2;

        width:min(500px, 90%);
        margin:0 auto;

        background:rgba(0,0,0,.65);
        border:2px solid #d4bf6c;
        border-radius:30px;

        padding:25px;

        backdrop-filter:blur(4px);

        box-shadow:
            0 0 20px rgba(212,191,108,.15);

        transition:.3s;
    }

    .section-card:hover{

        transform:translateY(-5px);

        box-shadow:
            0 0 30px rgba(212,191,108,.35);
    }

    .section-card img{

        max-width:250px;
        width:100%;
    }

    .section-card span{

        margin-top:20px;
        font-size:1.5rem;
        text-align:center;
    }

}